.profile-card { 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    width: 300px; 
    margin: auto; /* vertical + horizontal centering */ 
    transition: transform 0.3s ease, background-color 0.3s ease-in-out; 
} 
    .profile-card:hover { 
        transform: scale(1.5);/* Lift the card slightly on hover */ 
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5); 
    } 
 
img { 
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
   } 
 
h2 { 
    font-size: 32px; 
   /* font-size:  2em;  1em=16px   */ 
    font-weight: bold; 
    color: #333; 
} 
 
p { 
   /* font-size: 1em;*/ 
    color: #555; 
}
